body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

video:hover,
video:focus {
  outline: none;
}

audio:hover,
audio:focus {
  outline: none;
}

svg:hover,
svg:focus {
  outline: none;
}

button:hover,
button:focus,
button:active {
  outline: none;
}
